body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #6ae93c;
}

.container {
    text-align: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
    margin-bottom: 20px;
}

.cell {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    background-color: #abe690;
    border: 2px solid #000;
    cursor: pointer;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    background-color: aqua;
}

@media (max-width: 600px) {
    .board {
        grid-template-columns: repeat(3, 60px);
        grid-template-rows: repeat(3, 60px);
    }

    .cell {
        width: 60px;
        height: 60px;
        font-size: 1.5em;
    }

    button {
        padding: 8px 16px;
        font-size: 0.8em;
    }
}
